  .delivery_details_box {
      text-align: center;
      width: 80%;
      max-width: 400px;   /* Set maximum width to avoid stretching on larger screens */
      margin: 80px auto 50px;   /* Center the form vertically and provide top and bottom margin */
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
  }

  .delivery_details_header {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
  }

  .delivery_details_box form label {
      display: block;   /* Ensure each label appears on its own line */
      text-align: left;
      margin-bottom: 10px;
      margin-top: 10px;
      font-weight: bold;
      color: #555;
  }

  .delivery_details_box form input[type="text"],
  .delivery_details_box form input[type="email"] {
      width: calc(100% - 20px);   /* Adjusted width to accommodate padding */
      padding: 12px;
      margin-bottom: 20px;
      display: block;   /* Ensure each input appears on its own line */
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 16px;
      color: #555;
  }

  .delivery_details_box form button[type="submit"] {
      width: calc(100% - 20px);   /* Adjusted width to accommodate padding */
      margin-top: 20px;
      background-color: #007bff;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;   /* Smooth transition on hover */
  }

  .delivery_details_box form button[type="submit"]:hover {
      background-color: #0056b3;   /* Darker blue on hover */
  }

  /* Center the error messages */
  .error-container {
      text-align: left;
      margin-top: 5px;
  }

  .error-message {
      color: #dc3545;
      font-size: 14px;
      margin-bottom: 5px;
      list-style-type: none;
  }
